<!-- views/index.ejs -->
<!doctype html>
<html lang="en">

<head>
    <!-- head -->
    <% include include/head %>
    <!-- load custom carousel stylesheet -->
    <link rel="stylesheet" href="/css/carousel.css">
</head>


<body class="home">

    <!-- navbar header -->
    <% include include/nav %>

    <!-- flash messages -->
    <% include include/flash %>

    <!-- carousel -->
    <% include include/carousel %>
    <div>

        <div class="container">

            <div class="row margin-top-2">
                <h2>Featured Items</h2>
            </div>

            <div class="row featured">

                <!-- Items grid -->
                <% include include/items-grid.ejs %>

            </div>

        </div>

    </div>

    <!-- javascript -->
    <% include include/scripts %>

</body>
</html>
