<!-- views/index.ejs -->
<!doctype html>
<html lang="en">

<head>
    <!-- head -->
    <% include include/head %>
    <!-- load custom carousel stylesheet -->
    <link rel="stylesheet" href="/css/carousel.css">
</head>


<body class="home">

    <!-- navbar header -->
    <% include include/nav %>

    <!-- flash messages -->
    <% include include/flash %>

    <!-- carousel -->
    <% include include/carousel %>
    <div>

        <div class="container">

            <div class="row margin-top-2">
                <h2>Featured Items</h2>
            </div>

            <div class="row featured">

                <a class="col-md-3" href="/menu/55cb686bd5d4fd8b2a1808fb">
                    <div>
                        <img src="img/menu/1.jpg" class="img-circle img-thumbnail">
                        <h2>Filet Mignon</h2>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.</p>
                    </div>
                </a>

                <a class="col-md-3" href="/menu/55cb686bd5d4fd8b2a1808fb">
                    <div>
                        <img src="img/menu/1.jpg" class="img-circle img-thumbnail">
                        <h2>Filet Mignon</h2>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.</p>
                    </div>
                </a>

                <a class="col-md-3" href="/menu/55cb686bd5d4fd8b2a1808fb">
                    <div>
                        <img src="img/menu/1.jpg" class="img-circle img-thumbnail">
                        <h2>Filet Mignon</h2>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.</p>
                    </div>
                </a>

                <a class="col-md-3" href="/menu/55cb686bd5d4fd8b2a1808fb">
                    <div>
                        <img src="img/menu/1.jpg" class="img-circle img-thumbnail">
                        <h2>Filet Mignon</h2>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.</p>
                    </div>
                </a>

            </div>

        </div>

    </div>

    <!-- javascript -->
    <% include include/scripts %>

</body>
</html>
