<!doctype html>
<html>

<head>
    <!-- head -->
    <% include include/head %>
</head>

<body>

<!-- navbar header -->
<% include include/nav %>

<div id="login-overlay" class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <a href="/" class="close">
                <span class="fa fa-times text-primary" aria-hidden="true"></span><span class="sr-only">Close</span>
            </a>
            <h4 class="modal-title"><span class="fa fa-cutlery"></span> Lamb Chops</h4>
        </div>
        <div class="modal-body">
            <div class="row">

                <div class="col-xs-12">
                    <div class="well">

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<!-- javascript -->
<% include include/scripts %>

</body>
</html>
