<!doctype html>
<html>

<!-- head -->
<% include include/head %>

<body>

<!-- navbar header -->
<% include include/nav %>

<div id="login-overlay" class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <a href="/" class="close">
                <span class="fa fa-times text-primary" aria-hidden="true"></span><span class="sr-only">Close</span>
            </a>
            <h4 class="modal-title"><span class="fa fa-sign-in"></span> Add Local Online-Cuisine.com Login</h4>
        </div>
        <div class="modal-body">
            <div class="row">

                <div class="col-sm-6">
                    <div class="well">

                        <!-- flash messages -->
                        <% include include/flash %>

                        <form id="loginForm" method="POST" action="/signup" novalidate="novalidate">

                            <input type="hidden" id="csrf" name="_csrf" value="<%= csrfToken %>">

                            <% include include/form/email %>

                            <% include include/form/password %>

                            <button type="submit" class="btn btn-success btn-block">Add Local Login</button>

                            <a href="/login" class="btn btn-default btn-block">Have an Account?</a>
                        </form>
                    </div>
                </div>
                <div class="col-sm-6">
                    <p class="lead">Register now for <span class="text-success">FREE</span></p>
                    <ul class="list-unstyled" style="line-height: 2">
                        <li><span class="fa fa-check text-success"></span> See all your bills</li>
                        <li><span class="fa fa-check text-success"></span> Set reminders</li>
                        <li><span class="fa fa-check text-success"></span> Track spending</li>
                        <li><span class="fa fa-check text-success"></span> Mark bills as paid</li>
                        <li><span class="fa fa-check text-success"></span> See your budget at a glance</li>
                    </ul>
                    <p><a href="/login" class="btn btn-info btn-block">Sounds good, log in now!</a></p>
                </div>
                <div class="col-xs-12">
                    <div class=""><h4 class="text-center"><span class="fa fa-user"></span> or, sign in via </h4></div>
                    <div class="well-lg well">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <a href="/auth/facebook" class="btn btn-social btn-facebook"><span class="fa fa-facebook"></span> Facebook</a>
                                <a href="/auth/twitter" class="btn btn-social btn-twitter"><span class="fa fa-twitter"></span> Twitter</a>
                                <a href="/auth/google" class="btn btn-social btn-google-plus"><span class="fa fa-google-plus"></span> Google</a>
                                <a href="/auth/github" class="btn btn-social btn-github"><span class="fa fa-github"></span> Github</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<!-- javascript -->
<% include include/scripts %>

</body>
</html>
