<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online-Cuisine.com</title>
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- load fontawesome -->
    <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
    <!-- load social buttons css -->
    <link rel="stylesheet" href="/css/bootstrap-social.css">
    <!-- load datepicker css -->
    <link rel="stylesheet" href="/css/bootstrap-daterangepicker.css">
    <!-- load custom stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
</head>
