<li class="dropdown">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
        My Account
        <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li class="padding-btm-1">
            <a href="/">
                <span class="fa fa-user"></span>&nbsp;
                My Profile
            </a>
        </li>

        <li class="padding-btm-1">
            <a href="/">
                <span class="fa fa-home"></span>&nbsp;
                My Addresses
            </a>
        </li>

        <li class="padding-btm-1">
            <a href="/">
                <span class="fa fa-users"></span>&nbsp;
                My Companions
            </a>
        </li>

        <li class="padding-btm-1">
            <a href="/">
                <span class="fa fa-heart"></span>&nbsp;
                My Favorites
            </a>
        </li>

        <li class="padding-btm-1">
            <a href="/">
                <span class="fa fa-clock-o"></span>&nbsp;
                Past Orders
            </a>
        </li>

        <li class="divider padding-btm-1"></li>&nbsp;

        <li class="padding-btm-1">
            <a href="/logout">
                <span class="fa fa-sign-out"></span>&nbsp;
                Log Out
            </a>
        </li>

    </ul>
</li>