<nav class="navbar navbar-default navbar-fixed-top navbar-hom">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="fa fa-inverse fa-navicon"></span>
            </button>
            <a class="navbar-brand" href="/">
                <span class="fa fa-cutlery"></span>&nbsp; Online Cuisine
            </a>
        </div>

        <div class="collapse navbar-collapse navbar-responsive-collapse" id="main-nav">

            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a href="/menu">Menu</a>
                </li>
                <li>
                    <a href="/order">My Order</a>
                </li>
                <li>
                    <a href="/deals">Deals</a>
                </li>
                <li>
                    <a href="/contact">Contact Us</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <% if (locals.user) { %>
                    <% include nav_protected %>
                <% } else { %>
                    <li>
                        <a href="/login">Sign In / Sign Up</a>
                    </li>
                <% } %>
            </ul>

        </div>
    </div>
</nav>
