<div class="form-group<%= (locals.formErrors('password')) ? ' has-error' : ''%>">
    <label for="password" class="control-label">Password</label>
    <input type="password" class="form-control" id="password" name="password"
           value="<%= locals.formBody('password')%>"title="Please enter your password">
    <span class="help-block"></span>
</div>