<form method="post" class="form-horizontal">
    <input type="hidden" id="csrf" name="_csrf" value="<%= csrfToken %>">
    <hr />
    <div class="col-xs-12 form-group">
        <div class="col-md-4 pull-right text-left">
            <button type="submit" class="btn btn-danger btn-lg btn-block">
                <span class="fa fa-plus-circle"></span>
                Remove Item
            </button>
        </div>
        <div class="col-md-8 text-right pull-left">
            <h5>
                <a class="btn btn-link" href="/order">
                    <span class="fa fa-backward"></span>
                    Return to Order
                </a>
            </h5>
        </div>
    </div>
</form>
